<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="{{ RCP_PACKAGE }}.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="{{ RCP_TITLE }}"
            class="{{ RCP_PACKAGE }}.Perspective"
            id="{{ RCP_PACKAGE }}.perspective">
      </perspective>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="{{ RCP_TITLE }}.application"
            name="{{ RCP_TITLE }}">
         <property
               name="appName"
               value="{{ RCP_TITLE }}">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
      </product>
   </extension>

</plugin>
